{% extends 'base.html.twig' %}
{% block body %}
    <article class="blog-post mb-4">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="display-5 link-body-emphasis mb-1">{{ post.title }}</h2>
        </div>
        <p class="blog-post-meta">{{ post.createdAt|date('M-y') }} par <strong>{{ post.authorName }}</strong></p>
        <div class="my-3">{{ post.intro }}</div>
        <hr>
        <div>{{ post.content }}</div>
    </article>
    <hr>
    <h3>Nouveau commentaire</h3>
    <form method="post" action="/php_blog_adventure/comments/new/{{ post.id }}">
        <div class="hstack gap-3 col-6">
            {% if currentUser.id is defined and currentUser.id is not null %}
            <input class="form-control" type="text" name="content" id="comment-content">
            <input class="btn btn-primary" type="submit" value="Envoyer">
            {% else %}
            <input class="form-control" disabled type="text" name="content" id="comment-content" placeholder="Veuillez vous connecter pour publier un commentaire.">
            {% endif %}
        </div>
    </form>
    <section id="comment-section">
        {% if post.comments|length > 0 %}
            {% for comment in post.comments %}
                {% if comment.reviewed %}
                    <div class="comment">
                        <span>{{ comment.content }}</span>
                        <span>par {{ comment.authorName }} le {{ comment.createdat }}</span>
                    </div>
                {% elseif comment.userid == currentUser.id %}
                        <div class="comment bg-danger-subtle">
                                <span class="text-danger">Ce commentaire est en attente de vérification par un administrateur.</span>
                                <span>{{ comment.content }}</span>
                                <span>par {{ comment.authorName }} le {{ comment.createdat }}</span>
                        </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </section>
{% endblock %}