{% extends 'base.html.twig' %}
{% block title %}
    <h1>ARTICLE {{ post.title }}</h1>
{% endblock %}
{% block body %}
        <div>{{ post.title }}</div>
        <div>{{ post.content }}</div>
        <div>{{ post.authorid }}</div>
        <div>{{ post.createdat }}</div>
{% endblock %}